{% extends 'base.html' %}

{% import 'bootstrap5/form.html' as wtf %}

{% block main %}
<section class="mb-5 mt-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1>Checkout</h1>
                <p>
                    <strong>Thank you for your interest. 
                    Please complete the form below to proceed with your order.</strong>
                </p>
            </div>
        </div>
        <div class="row mt-4 justify-content-center p-3">
            <div class="col-md-6">
            <form method="POST">
                {{ wtf.render_form(form) }}
           </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}