{% extends 'base.html' %}

{% block main %}

    <div class="container text-center">
        <h1>Results for "{{ query }}"</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 justify-content-center" style="margin:10px;">
        {% for item in results %}
        <div class="col prod_card"><div class="card">
            <a href="{{ url_for('main.product_details', product_id=item.id) }}">
                <img src="{{ url_for('static', filename='img/' + item.name.split(' ')[0] +'.jpg') }}" class="card-img-top" alt="card-img-top">
            </a>
            <div class="card-body d-grid gap-2">
                <h5 class="card-title">{{ item.name }}</h5>
                <h2>$ {{ item.price }}</h2>
            </div>
            <div class="card-footer">
            <form method="POST"
                action="{{ url_for('main.adding_to_basket', product_id=item.id) }}"
                class="d-flex flex-column align-items-center w-100">
                <div class="input-group mb-2" style="width: 70px;">
                    <span class="input-group-text p-1" style="font-size: 0.9rem; border-radius: 0.375rem 0 0 0.375rem;">Qty</span>
                    <input
                        type="number"
                        name="quantity"
                        value="1"
                        min="1"
                        class="form-control text-center p-1"
                        style="width: 35px; font-size: 1rem; border-radius: 0 0.375rem 0.375rem 0;"
                        aria-label="Quantity"
                    >
                </div>
                <input
                    type="submit"
                    value="+ Add to Basket"
                    class="btn add_button brand_color_set w-100"
                >
            </form>
        </div>

        </div>
        </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}